/* MaterialItem.css */
@keyframes moving-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-gradient {
  background: linear-gradient(135deg, #d05a45, #e4aa42, #4a9c80);
  background-size: 200% 200%;
  animation: moving-gradient 10s ease infinite;
}
